@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #09090B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  /* overflow-y: hidden; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  body {
    @apply antialiased;
  }
}

/* Custom focus styles that match the design */
input:focus {
  @apply ring-offset-0;
}

/* Calendar styles */
.rdp {
  --rdp-cell-size: 40px; /* Size of date cells */
  --rdp-accent-color: var(--accent); /* Accent color */
  --rdp-background-color: var(--background); /* Background color */
  --rdp-accent-color-dark: var(--accent-foreground); /* Accent color dark */
  --rdp-background-color-dark: var(--accent); /* Background color dark */
  --rdp-outline: 2px solid var(--accent); /* Outline */
  --rdp-outline-selected: 3px solid var(--accent); /* Outline when selected */
  margin: 1em;
}

.rdp-months {
  display: flex;
  justify-content: center;
}

.rdp-month {
  margin: 0 1em;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  color: var(--accent-foreground);
  opacity: 1;
  background-color: var(--accent);
}

.rdp-day_today {
  font-weight: bold;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: var(--accent);
  color: var(--accent-foreground);
}
